@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --container: #ffffff;
  --neongreen: #aaff99;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
    --container: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

.mainnav {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .mainnav {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

a:hover {
  color: var(--neongreen);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
